# Virtual environments
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment
.env

# IDE
.idea/
.vscode/

# Test
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

#Frontend
.agent/

# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/